

.mainContainer {
    display: grid;
    grid-auto-flow: column;
    padding: 8px;
  }

  .logo_wrapper {
    margin: auto;
  }
  .company-logo_img_wrapper {
    position: relative;
    max-width:100%;
    max-height: 100%;
    // border: 4px solid var(--border-color);
    border-radius: 10%;
    display: inline-block;
  }
  .logo_img {
    width: 185px;
    height: 185px;
    object-fit: cover;
    border-radius: 10%;
  }

  .company-logo_img_wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background: linear-gradient(#e66465, #9198e5);
    z-index: -1;
    width: calc(100% + 13px);
    height: calc(100% + 13px);
    border-radius: 50%;
  }
  @media only screen and (min-width: 770px) {
    .company-logo_img_wrapper {
      margin-top: 30px;
      margin-bottom:0%
    }
  }
  .addLogoIcon {
    position: absolute;
    top: 100%;
    left: 38%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    background-color: var(--top-side-nav-background-color);
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 0;
    right: 0;
    // margin: 5px;
    z-index: 2;
  }

  .deleteLogoIcon{
    position: absolute;
    top: 100%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    background-color: var(--top-side-nav-background-color);
    font-size: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 0;
    right: 0;
    // margin: 5px;
    z-index: 2;
  }
  .firstDiv {
    order: 1;
  }

  .secondDiv {
    order: 2;
  }
  .fileInput{
    display: none;
  }
  @media (max-width: 770px) {
    .firstDiv {
      order: 2;
      margin-top: 10%;
    }

    .secondDiv {
      order: 1;

    }
  }


