.tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 324px; /* gives an initial height of 200px to the table */
  }
.skipLink {
    font-size: 10px;
    margin-right: 20px;
    cursor: default;
}
.skipLink:hover {
    color: var(--hover-backckround-color);
}
.dropdown a {
    color: inherit;
}
.dropdown .dropdown-menu li span {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}
.dropdown-menu {
    background-color: var(--table-card-heading-background-color);
    padding: 0;
}
.dropdown .dropdown-menu li:hover {
    background-color: var(--hover-backckround-color);
    color: var(--textcolor);
    letter-spacing: 1px;
}
.smallIcon {
    display: inline-block;
    margin-left: 12px;
    padding: 3px;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        width: 100%;
    }
    thead tr {
        position: relative;
        display: none;
    }
    tr {
        margin-top: 1rem;
    }
    td {
        // border: 1px solid rgb(151, 143, 143);
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        left: 5px;
        font-size: var(--table-header-font-size);
        font-weight: var(--table-header-font-weight)
    }
    td:nth-of-type(1):before {
        content: "Employee Name";
    }
    td:nth-of-type(2):before {
        content: "Bank Name";
    }
    td:nth-of-type(3):before {
        content: "Branch";
    }
    td:nth-of-type(4):before {
        content: "Account Number";
    }
    td:nth-of-type(5):before {
        content: "IFSC Code";
    }
    td:nth-of-type(6):before {
        content: "Actions";
    }
}


