.tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 343px; /* gives an initial height of 200px to the table */
  }
  .tableFixHeadAdmin{
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 400px !important; /* gives an initial height of 200px to the table */
  }

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        width: 100%;
    }
    thead tr {
        position: relative;
        display: none;
    }
    tr {
        margin-top: 1rem;
    }
    td {
        // border: 1px solid rgb(151, 143, 143);
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        left: 5px;
        font-size: var(--table-header-font-size);
        font-weight: var(--table-header-font-weight)
    }
    td:nth-of-type(1):before {
        content: "Employee Name";
    }
    td:nth-of-type(2):before {
        content: "Leave Type";
    }
    td:nth-of-type(3):before {
        content: "Start Date";
    }
    td:nth-of-type(4):before {
        content: "End Date";
    }
    td:nth-of-type(5):before {
        content: "Comment";
    }
    td:nth-of-type(6):before {
        content: "View";
    }
    td:nth-of-type(7):before {
        content: "Actions";
    }
}


.dropdown a {
    color: inherit;
}
.dropdown .dropdown-menu li span {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}
.dropdown-menu {
    background-color: #e8e8e8;
    padding: 0;
}
.dropdown .dropdown-menu li:hover {
    background-color: var(--hover-backckround-color);
    color: var(--text-color);
    letter-spacing: 1px;
}
.approvedBtn {
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #5de95d !important;
    min-width: 100%;
    letter-spacing: 1px;
    border-radius: 0;
    color: #ffffff;
    font-weight: 500;
}
.rejectedBtn {
    font-size: 13px;
    letter-spacing: 1px;
    background-color:#FF0000;
    min-width: 100%;
    border-radius: 0;
    color: #ffffff;
    font-weight: 500;
}
.pendingBtn {
    font-size: 13px;
    letter-spacing: 1px;
    min-width: 100%;
    border-radius: 0;
    background-color:var(--button-background-color);
    color:#ffffff
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

