
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>INDIA (Sales)</h3>
            <p>
              Rajbagh <br>
              Srinagr, 190001<br>
              Jammu And Kashmir <br><br>
              <strong>Phone:</strong> (+91) 9821162342<br>
              <strong>Email:</strong> contact&#64;siffrum.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>USA (Sales)</h3>
            <p>
              Los Angeles <br>
              CA 90069<br>
              United States <br><br>
              <strong>Phone:</strong> +1 (904) 638-9177<br>
              <strong>Email:</strong> sales&#64;siffrum.com<br>
            </p>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-caret-right"></i> <a href="">Home</a></li>
              <li><i class="bi bi-caret-right"></i> <a (click)="navigateToSection('#about')">About us</a></li>
              <li><i class="bi bi-caret-right"></i> <a (click)="navigateToSection('#contact')">Contact us</a></li>
              <li><i class="bi bi-caret-right"></i> <a (click)="navigateToSection('#pricing')">Pricing</a></li>
              <li><i class="bi bi-caret-right"></i> <a >Privacy policy</a></li>
            </ul>
          </div>



          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Follow us on various platforms to receive updates, industry insights, and connect with other professionals</p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/siffrum" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/Siffrum-10" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/siffrum/" class="instagram"><i class=" bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/company/siffrum/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>© 2023 Siffrum </span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://siffrum.com/">siffrum</a>
      </div>
    </div>
  </footer><!-- End Footer -->