<app-header></app-header>
<!-- ======= home Section ======= -->
<section id="home" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
        data-aos-delay="200">
        <h1>Your Gateway to Seamless HR Solutions</h1>
        <h2>Key to a stress-free HR experience - where simplicity meets sophistication</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a class="btn-get-started scrollto" (click)="checkToken()" >Get Started</a>
          <!-- <a class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 home-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/images/hero-img.png" class="img-fluid animated" alit="Image Not Found">
      </div>
    </div>
  </div>

</section><!-- End home -->
<div id="about" class="pb-2 mb-2" ></div>


<main id="main">
  <!-- ======= About Us Section ======= -->
  <section class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            Our inception marked the commencement of a compelling vision: Crafting a platform that revolutionizes
            conventional HR procedures, rendering them streamlined and user-friendly
          </p>
          <ul>
            <li><i class="bi bi-check2"></i> Innovative Solutions</li>
            <li><i class="bi bi-check2"></i> Client-Centric Approach</li>
            <li><i class="bi bi-check2"></i> Security You Can Trust</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            At the heart of our mission lies an unwavering dedication to excellence, guaranteeing that every
            organization can harness the complete potential of their workforce effortlessly and with absolute confidence
          </p>
          <p>In addition to payroll services, we extend our offerings to encompass comprehensive salary management,
            attendance tracking, and a diverse array of reports tailored to meet the diverse needs of our clients</p>
          <a class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3> <strong>Why Choose Coin Management?</strong></h3>
            <p>
              Discover the unique advantages that set Coin Management apart as the premier choice for integrated HRM and
              payroll solutions
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Dual
                  Functionality: HRM and Payroll in One <i class="bi bi-caret-down icon-show"></i><i
                    class="bi bi-caret-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Coin Management is your all-in-one solution, seamlessly integrating HRM and payroll functionalities.
                    Say goodbye to siloed processes and welcome a unified platform that effortlessly manages your
                    workforce and payroll in harmony.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                  class="collapsed"><span>02</span>User-Friendly Interface<i class="bi bi-caret-down icon-show"></i><i
                    class="bi bi-caret-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Embrace simplicity with our user-friendly interface. Coin Management is designed with you in mind,
                    ensuring a smooth and intuitive experience for all users. Navigate effortlessly through HR and
                    payroll tasks, reducing the learning curve and enhancing overall usability.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>
                  Document Generation Made Easy<i class="bi bi-caret-down icon-show"></i><i
                    class="bi bi-caret-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Generate essential employee documents effortlessly with Coin Management. From company letters to
                    offer and appointment letters, our platform automates the document creation process, saving you time
                    and ensuring accuracy in every detail
                  </p>
                </div>
              </li>
              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span>04</span>
                  Customizable Themes<i class="bi bi-caret-down icon-show"></i><i
                    class="bi bi-caret-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Tailor Coin Management to match your brand and preferences with our theming options. Personalize the
                    look and feel of the platform to align with your company's identity, creating a cohesive and branded
                    experience for both employees and administrators.
                  </p>
                </div>
              </li>
            </ul>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
          style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Pricing Section ======= -->
  <section class="pricing">
    <div class="container" data-aos="fade-up">
      <div id="pricing" class="pb-5 mb-5"></div>

      <div class="section-title">
        <h2>Pricing</h2>
        <p>We understand that businesses come in all shapes and sizes. That's why we offer flexible pricing plans
          designed to cater to the unique requirements of your organization</p>
      </div>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Free Plan</h3>
            <h4><sup>$</sup>0<span>per month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> Basic features included</li>
              <li><i class="bi bi-check"></i> Limited user access</li>
              <li><i class="bi bi-check"></i> Email support</li>
              <li><i class="bi bi-check"></i> Regular updates</li>
              <li><i class="bi bi-check"></i> Data security</li>
            </ul>
            <a (click)="checkToken()" class="buy-btn">Get Started</a>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Business Plan</h3>
            <h4><sup>$</sup>29<span>per month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> Business features included</li>
              <li><i class="bi bi-check"></i> Limited user access</li>
              <li><i class="bi bi-check"></i> Email support</li>
              <li><i class="bi bi-check"></i> Regular updates</li>
              <li><i class="bi bi-check"></i> Data security</li>
            </ul>
            <a (click)="checkToken()" class="buy-btn">Get Started</a>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <h3>Developer Plan</h3>
            <h4><sup>$</sup>49<span>per month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> Developer features included</li>
              <li><i class="bi bi-check"></i> Limited user access</li>
              <li><i class="bi bi-check"></i> Email support</li>
              <li><i class="bi bi-check"></i> Regular updates</li>
              <li><i class="bi bi-check"></i> Data security</li>
            </ul>
            <a (click)="checkToken()" class="buy-btn">Get Started</a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>Has a question that's not answered here? Reach out to our support team, and we'll be happy to assist you!</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1"><i
                class="bi bi-question-circle icon-help"></i>Can I try Coin Management before making a commitment? <i
                class="bi bi-caret-down icon-show"></i><i class="bi bi-caret-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Absolutely! We offer a free trial period for you to explore the features and functionalities of Coin
                Management. This allows you to experience the platform firsthand and determine how it aligns with your
                business needs before making a commitment.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed"><i
                class="bi bi-question-circle icon-help"></i>Is Coin Management suitable for businesses of all sizes? <i
                class="bi bi-caret-down icon-show"></i><i class="bi bi-caret-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, Coin Management is designed to cater to businesses of varying sizes. Our pricing plans, including
                Basic, Business, and Enterprise, are tailored to accommodate the needs of startups, growing businesses,
                and large enterprises, respectively.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed"><i
                class="bi bi-question-circle icon-help"></i>How is customer support handled, and what resources are
              available for training? <i class="bi bi-caret-down icon-show"></i><i
                class="bi bi-caret-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                We provide comprehensive customer support to assist you at every step. Our support team is available to
                answer your queries, and we offer extensive training resources, including documentation and tutorials,
                to help you make the most of Coin Management. Higher-tier plans come with priority support and
                additional training options.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed"><i
                class="bi bi-question-circle icon-help"></i>Can I add more features as my business grows? <i
                class="bi bi-caret-down icon-show"></i><i class="bi bi-caret-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Absolutely! Coin Management is designed to scale with your business. We offer additional add-ons such as
                the Attendance Tracking Module, Custom Reporting, and API Access to enhance your capabilities as your
                business evolves.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed"><i
                class="bi bi-question-circle icon-help"></i>How do I get started with Coin Management? <i
                class="bi bi-caret-down icon-show"></i><i class="bi bi-caret-up icon-close"></i></a>
            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Getting started is easy! Simply contact us to discuss your specific needs and receive a personalized
                code. If you're ready to explore Coin Management firsthand, sign up for our free trial to experience the
                power of our integrated HRM and payroll solution.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section class="contact">
    <div class="container" data-aos="fade-up">
      <div id="contact" class="pb-5 mb-5"></div>

      <div class="section-title">
        <h2>Contact Us</h2>
        <p>We value your interest in Coin Management! Whether you have questions about our software, need assistance, or
          want to discuss a customized solution for your business, we're here to help. There are several ways to get in
          touch:</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Los Angeles, CA 90069, United States</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>sales&#64;siffrum.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p> +1 (904) 638-9177</p>
            </div>

            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d954.5867747003856!2d74.81559645621068!3d34.07158201719529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e18f90abf04ba1%3A0x1f99bc062349e973!2sHotel%20Regal%20Palace!5e0!3m2!1sen!2sin!4v1682410363576!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form #contactUsForm="ngForm" class="contact-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label>Your Name</label>
                <input type="text" class="form-control" required name="name" #name="ngModel"
                  [(ngModel)]="viewModel.contactUsObj.name" minlength="3" maxlength="50" placeholder="Enter Your Name">

                <div *ngFor="let validation of viewModel.validations.name">
                  <div *ngIf="(name.touched || viewModel.formSubmitted ) && name.hasError(validation.type)"
                    class="text-danger validationMsg">
                    {{validation.message}}
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Your Email</label>
                <input type="text" class="form-control" required [(ngModel)]="viewModel.contactUsObj.emailId"
                  pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" name="email"
                  minlength="6" maxlength="50" placeholder="Enter Valid  Email Id" #email="ngModel">

                <div *ngFor="let validation of viewModel.validations.email">
                  <div *ngIf="(email.touched || viewModel.formSubmitted) && email.hasError(validation.type)"
                    class="text-danger  validationMsg">
                    {{validation.message}}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Subject</label>
              <input type="text" class="form-control" required name="subject"
                [(ngModel)]="viewModel.contactUsObj.subject" minlength="3" maxlength="50" placeholder="Subject"
                #subject="ngModel" pattern="^[A-Za-z][A-Za-z0-9]*$">
              <div *ngFor="let validation of viewModel.validations.subject">
                <div *ngIf="(subject.touched || viewModel.formSubmitted) && subject.hasError(validation.type)"
                  class="text-danger  validationMsg">
                  {{validation.message}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Message</label>


              <textarea class="form-control" rows="10" required name="message" pattern="^[A-Za-z][A-Za-z0-9\s]*$"
                [(ngModel)]="viewModel.contactUsObj.message" minlength="5" maxlength="200" placeholder="Enter Message"
                #message="ngModel"></textarea>

              <div *ngFor="let validation of viewModel.validations.message">
                <div *ngIf="(message.touched || viewModel.formSubmitted) && message.hasError(validation.type)"
                  class="text-danger  validationMsg">
                  {{validation.message}}
                </div>
              </div>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit" (click)="sendMessage(contactUsForm)">Send Message</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- <div id="preloader"></div> -->
<a class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>
<app-footer></app-footer>
<!-- footer close -->
<!-- </div>
    </div>

  </div> -->