.tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 325px; /* gives an initial height of 200px to the table */
  }
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        width: 100%;
    }
    thead tr {
        position: relative;
        display: none;
    }
    tr {
        margin-top: 1rem;
    }
    td {
        // border: 1px solid rgb(151, 143, 143);
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        left: 5px;
        font-size: var(--table-header-font-size);
        font-weight: var(--table-header-font-weight)
    }
    td:nth-of-type(1):before {
        content: "Name";
    }
    td:nth-of-type(2):before {
        content: "Email";
    }
    td:nth-of-type(3):before {
        content: "Subject";
    }
    td:nth-of-type(4):before {
        content: "Message";
    }
    td:nth-of-type(5):before {
        content: "Actions";
    }
}