


h1,
h2 {
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
  color: maroon
}

h1,
h2,
i {
  color: maroon
}

.container-fluid {
  text-align: center;
  padding: 30px 0;
  background: var(--section-bg-color);
}

h1 {
  font-size: 30px
}

h2 {
  font-size: 20px
}

i {
  font-size: 60px
}

.card {
  background: #fff;
  padding: 10px 30px 30px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto
}

button {
  font-family: Kanit, serif;
  color: #fff;
  padding: 7px 35px;
  border: 2px solid #fff;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px
}
p {
  font-size: 14px;
  color: #000
}

