

<div class="card slide-up-animation m-5">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
               <b>Add Company Info</b>
            </div>
        </div>
    </div>
    <div class="card-body p-0 px-2">
        <form #companyOverviewForm="ngForm">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                            <label>Company Code <span class="text-danger fs-5">*</span></label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                            <input type="text" class="form-control" value=""
                                [(ngModel)]="viewModel.AddCompanyDetail.companyCode" placeholder="Set Company Code"
                                required #companyCode="ngModel" name="companyCode" minlength="3" maxlength="10">
                            <div *ngFor="let validation of viewModel.companyDetailsValidations.companyCode">
                                <div class="text-danger validationMsg"
                                    *ngIf="(companyCode.touched || viewModel.formSubmitted) && companyCode.hasError(validation.type)">
                                    {{ validation.message }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                            <label>Company Name <span class="text-danger fs-5">*</span> </label>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                            <input type="text" class="form-control" [(ngModel)]="viewModel.AddCompanyDetail.name"
                                placeholder="Enter Company Name" required #name="ngModel" name="name"
                                pattern="^[A-Za-z][A-Za-z0-9\s]*$" minlength="3" maxlength="20">
                            <div *ngFor="let validation of viewModel.companyDetailsValidations.name">
                                <div class="text-danger validationMsg"
                                    *ngIf="(name.touched || viewModel.formSubmitted) && name.hasError(validation.type)">
                                    {{ validation.message }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                            <label> Date Of Establishment <span class="text-danger fs-5">*</span></label>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                            <input type="date" class="form-control"
                                [(ngModel)]="viewModel.AddCompanyDetail.companyDateOfEstablishment" required
                                #companyDateOfEstablishment="ngModel" name="companyDateOfEstablishment">
                            <div
                                *ngFor="let validation of viewModel.companyDetailsValidations.companyDateOfEstablishment">
                                <div class="text-danger validationMsg"
                                    *ngIf="(companyDateOfEstablishment.touched || viewModel.formSubmitted) && companyDateOfEstablishment.hasError(validation.type)">
                                    {{ validation.message }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                            <label> Official Website <span class="text-danger fs-5">*</span> </label>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                            <input type="text" class="form-control"
                                [(ngModel)]="viewModel.AddCompanyDetail.companyWebsite"
                                placeholder="Enter Company Website" required #companyWebsite="ngModel"
                                name="companyWebsite" minlength="3" maxlength="20" pattern="^[a-zA-Z0-9\s.,#-]+$">
                            <div *ngFor="let validation of viewModel.companyDetailsValidations.companyWebsite">
                                <div class="text-danger validationMsg"
                                    *ngIf="(companyWebsite.touched || viewModel.formSubmitted) && companyWebsite.hasError(validation.type)">
                                    {{ validation.message }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                            <label> Contact Email <span class="text-danger fs-5">*</span></label>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                            <input type="email" class="form-control"
                                [(ngModel)]="viewModel.AddCompanyDetail.companyContactEmail"
                                placeholder="Enter Comoany Email ID" required #contactEmail="ngModel"
                                name="contactEmail" minlength="10" maxlength="20"
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                            <div *ngFor="let validation of viewModel.companyDetailsValidations.contactEmail">
                                <div class="text-danger validationMsg"
                                    *ngIf="(contactEmail.touched || viewModel.formSubmitted) && contactEmail.hasError(validation.type)">
                                    {{ validation.message }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                            <label> Contact Number <span class="text-danger fs-5">*</span></label>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                            <input type="text" class="form-control"
                                [(ngModel)]="viewModel.AddCompanyDetail.companyMobileNumber"
                                placeholder="Enter Phone Number" required #companyMobileNumber="ngModel"
                                name="companyMobileNumber" minlength="10" maxlength="10" pattern="^[0-9]{1,10}$">
                            <div *ngFor="let validation of viewModel.companyDetailsValidations.companyMobileNumber">
                                <div class="text-danger validationMsg"
                                    *ngIf="(companyMobileNumber.touched || viewModel.formSubmitted) && companyMobileNumber.hasError(validation.type)">
                                    {{ validation.message }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-">
                            <label> First Name <span class="text-danger fs-5">*</span> </label>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-12 col-12 ">
                            <input type="text" class="form-control" [(ngModel)]="viewModel.addAdmin.firstName"
                                placeholder="Enter First Name" required name="firstName" #firstName="ngModel"
                                minlength="3" maxlength="15" pattern="^[A-Za-z][A-Za-z0-9]*">
                            <div *ngFor="let validation of viewModel.companyDetailsValidations.firstName">
                                <div *ngIf="(firstName.touched || viewModel.formSubmitted) && firstName.hasError(validation.type)"
                                    class="text-danger validationMsg">
                                    {{ validation.message }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <label> Last Name <span class="text-danger fs-5">*</span> </label>

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                            <input type="text" class="form-control" required
                            [(ngModel)]="viewModel.addAdmin.lastName" placeholder="Enter Last Name"
                            required name="lasttName" #lasttName="ngModel"
                            pattern="^[A-Za-z][A-Za-z0-9]*$" minlength="3" maxlength="15">
                        <div
                            *ngFor="let validation of viewModel.companyDetailsValidations.lastName">
                            <div *ngIf="(lasttName.touched || viewModel.formSubmitted) && lasttName.hasError(validation.type)"
                                class=" text-danger validationMsg">
                                {{validation.message}}
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <label> Personal Email Id <span class="text-danger fs-5">*</span> </label>

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                            <input type="text" class="form-control"
                            [(ngModel)]="viewModel.addAdmin.emailId"
                            placeholder="Enter  Email Id" required name="email"
                            minlength="6" maxlength="50" #email="ngModel"
                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">

                        <div
                            *ngFor="let validation of viewModel.companyDetailsValidations.email">
                            <div *ngIf="(email.touched || viewModel.formSubmitted) && email.hasError(validation.type)"
                                class="text-danger validationMsg">
                                {{validation.message}}
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <label> Mobile Number <span class="text-danger fs-5">*</span> </label>

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                            <input type="text" class="form-control"
                            [(ngModel)]="viewModel.addAdmin.phoneNumber"
                            placeholder="Enter Phone Number" name="MobileNumber"
                            #phoneNumber="ngModel" required minlength="3" maxlength="15"
                            pattern="^[0-9]{10}$">
                        <div
                            *ngFor="let validation of viewModel.companyDetailsValidations.phoneNumber">
                            <div *ngIf="(phoneNumber.touched || viewModel.formSubmitted) && phoneNumber.hasError(validation.type)"
                                class=" text-danger validationMsg">
                                {{validation.message}}
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <label> D-O-B <span class="text-danger fs-5">*</span></label>

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                            <input type="date" class="form-control" [(ngModel)]="viewModel.addAdmin.dateOfBirth"
                            [max]="viewModel.disabledDate" [min]="viewModel.maxDate"
                            [max]="disableDates()" [min]="disableToMinDates()" required name="dateOfBirth"
                            #dateOfBirth="ngModel">
                        <div *ngFor="let validation of viewModel.companyDetailsValidations.dateOfBirth">
                            <div *ngIf="(dateOfBirth.touched || viewModel.formSubmitted) && dateOfBirth.hasError(validation.type)"
                                class=" text-danger validationMsg">
                                {{validation.message}}
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row align-items-center p-lg-2 p-md-2 p-sm-2 p-2">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <label>Date Of Joining <span class="text-danger fs-5">*</span></label>

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                            <input type="date" class="form-control" [(ngModel)]="viewModel.addAdmin.dateOfJoining"
                            [max]="viewModel.disabledDate"  required name="dateOfJoining"
                            #dateOfJoining="ngModel">
                        <div *ngFor="let validation of viewModel.companyDetailsValidations.dateOfJoining">
                            <div *ngIf="(dateOfJoining.touched || viewModel.formSubmitted) && dateOfJoining.hasError(validation.type)"
                                class=" text-danger validationMsg">
                                {{validation.message}}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Button at the bottom -->
    <div class="card-footer text-center">
        <button type="submit" class="btn signUpBtn" (click)="registerNewCompanyAndAdminDetails(companyOverviewForm)">Sign Up</button>
    </div>
</div>