.card-header{
    background:#d1e0ea !important;
    border-color:  #ebedee !important;
}
.card{
    border-color: #E4ECF1 !important;
    border: solid ;
}
.signUpBtn{
    background: #455868 !important;
    color: #ffffff;
}