

.paidBtn {
    background-color: #5de95d;
    border-color: #5de95d;
    color: #ffffff;
    font-family: 'Kanit', serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    min-width: fit-content;
}

.notPaidBtn {
    background-color: #FF0000;
    border-color: #FF0000;
    color: #ffffff;
    font-family: 'Kanit', serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    min-width: fit-content;
}

.payNowBtn {
    background-color: #5de95d;
    border-color: #5de95d;
    color: #ffffff;
    font-family: 'Kanit', serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    min-width: fit-content;
}

.resignedBtn {
    background: transparent;
    border-color: #FF0000;
    color: #FF0000;
    font-family: 'Kanit', serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    min-width: fit-content;
}

.tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 320px; /* gives an initial height of 200px to the table */
  }


.errorMessage {
    // font-size: 9px;
    font-weight: 600;
    color: #FF0000;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        width: 100%;
    }

    thead tr {
        position: relative;
        display: none;
    }

    tr {
        margin-top: 1rem;
    }

    td {
        // border: 1px solid rgb(151, 143, 143);
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        left: 5px;
        font-size: var(--table-header-font-size);
        font-weight: var(--table-header-font-weight)
    }

    td:nth-of-type(1):before {
        content: "Employee Name";
    }

    td:nth-of-type(2):before {
        content: "Designation";
    }

    td:nth-of-type(3):before {
        content: "Employee Status";
    }

    td:nth-of-type(4):before {
        content: "Payment For";
    }

    td:nth-of-type(5):before {
        content: "Payment Type";
    }
    td:nth-of-type(6):before {
        content: "Payment Amount";
    }
    td:nth-of-type(7):before {
        content: "";
    }
    td:nth-of-type(8):before {
        content: "";
    }
    td:nth-of-type(9):before {
        content: "";
    }
    .showErrorMsg td:nth-of-type(1):before {
        content: " ";
    }
}
