.skipLink {
    font-size: 10px;
    margin-right: 20px;
    cursor: default
}
.skipLink:hover {
    color: #323a5f
}
.tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 313px; /* gives an initial height of 200px to the table */
  }

@media only screen and (max-width:760px),
(min-device-width:768px) and (max-device-width:1024px) {
    td,
    thead tr {
        position: relative
    }
    tbody,
    td,
    th,
    thead,
    tr {
        display: block;
        width: 100%
    }
    thead tr {
        display: none
    }
    tr {
        margin-top: 1rem
    }
    td {
        padding-left: 50%
    }
    td:before {
        position: absolute;
        left: 5px;
        font-size: var(--table-header-font-size);
        font-weight: var(--table-header-font-weight)
    }
    td:first-of-type:before {
        content: "Employee"
    }
    td:nth-of-type(2):before {
        content: "Country"
    }
    td:nth-of-type(3):before {
        content: "State"
    }
    td:nth-of-type(4):before {
        content: "City"
    }
    td:nth-of-type(5):before {
        content: "Pincode"
    }
    td:nth-of-type(6):before {
        content: "Address 1"
    }
    td:nth-of-type(7):before {
        content: "Address 2"
    }
    td:nth-of-type(8):before {
        content: "Address Type"
    }
    td:nth-of-type(9):before {
        content: "Actions"
    }
}