<!--Company Attendance Shift List  Tab--satrt -->
<div class="row mt-2">
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
        <button class="btn coinButton" (click)="openCompanyDepartmentModal(0)">
            Add New Department
            &#43; </button>
    </div>
    <div class="col-lg-12">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th class="firstTableHead"> Department Code </th>
                    <th> Name</th>
                    <th> Manager</th>
                    <th> Location </th>
                    <th>Description</th>
                    <th *ngIf="viewModel.Permission?.delete || viewModel.Permission?.edit">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of viewModel.departmentList">
                    <td>{{data.departmentCode}}</td>
                    <td>{{data.departmentName}} </td>
                    <td>{{data.departmentManager}} </td>
                    <td> {{data.departmenntLocation}}</td>
                    <td>{{data.departmentDescription}}</td>
                    <td *ngIf="viewModel.Permission?.edit ||viewModel.Permission?.delete">
                        <div>
                            <i class="bi bi-pencil-square smallIcon ms-0" (click)="openCompanyDepartmentModal( data.id)"
                                *ngIf="viewModel.Permission?.edit" (mouseenter)="viewModel.showTooltip = true"
                                (mouseleave)="viewModel.showTooltip = false" [attr.title]="'Edit'"
                                [attr.data-placement]="'left'" [ngClass]="{ 'tooltip-show': viewModel.showTooltip }">
                            </i>
                            &nbsp;
                            <i class="bi bi-trash smallIcon ms-0" (click)="deleteCompanyDepartment(data.id)"
                                *ngIf="viewModel.Permission?.delete" (mouseenter)="viewModel.showTooltip = true"
                                (mouseleave)="viewModel.showTooltip = false" [attr.title]="'Delete'"
                                [attr.data-placement]="'left'"
                                [ngClass]="{ 'tooltip-show': viewModel.showTooltip }"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- open Modal -->
<div class="modal expandIn" tabindex="-1" role="dialog" [ngStyle]="{'display':viewModel.displayStyle}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Department</h4>
                <button type="button" class="btn-close" (click)="closePopup(departmentForm)"></button>
            </div>
            <form #departmentForm="ngForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-lg-2 p-md-2 p-sm-2 p-2">
                            <label> Department Code <span class="text-danger fs-5">*</span> </label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-12 col-12 p-lg-2 p-md-2 p-sm-2 p-2">
                            <input type="text" class="form-control" required name="departmentCode"
                                #departmentCode="ngModel" [(ngModel)]="viewModel.department.departmentCode"
                                minlength="3" maxlength="8" placeholder="Enter Department Code"
                                (focus)="validateDepartmentCode($event)">

                            <div *ngFor="let validation of viewModel.validations.departmentCode">
                                <div *ngIf="(departmentCode.touched || viewModel.formSubmitted ) && departmentCode.hasError(validation.type)"
                                    class="text-danger validationMsg">
                                    {{validation.message}}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-lg-2 p-md-2 p-sm-2 p-2">
                            <label> Department Name <span class="text-danger fs-5">*</span></label>
                        </div>

                        <div class="col-lg-8 col-md-6 col-sm-12 col-12 p-lg-2 p-md-2 p-sm-2 p-2">
                            <input type="text" class="form-control" required
                                [(ngModel)]="viewModel.department.departmentName" pattern="^[A-Za-z][A-Za-z0-9\s]*$"
                                name="departmentName" minlength="2" maxlength="50" placeholder="Enter Department Name"
                                #departmentName="ngModel">

                            <div *ngFor="let validation of viewModel.validations.departmentName">
                                <div *ngIf="(departmentName.touched || viewModel.formSubmitted) && departmentName.hasError(validation.type)"
                                    class="text-danger  validationMsg">
                                    {{validation.message}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-lg-2 p-md-2 p-sm-2 p-2">
                            <label> Manager Name <span class="text-danger fs-5">*</span> </label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-12 col-12 p-lg-2 p-md-2 p-sm-2 p-2">
                            <input type="text" class="form-control" required name="departmentManager"
                                [(ngModel)]="viewModel.department.departmentManager" minlength="3" maxlength="30"
                                placeholder="Enter Manager Name" #departmentManager="ngModel"
                                pattern="^[A-Za-z][A-Za-z0-9]*$">

                            <div *ngFor="let validation of viewModel.validations.departmentManager">
                                <div *ngIf="(departmentManager.touched || viewModel.formSubmitted) && departmentManager.hasError(validation.type)"
                                    class="text-danger  validationMsg">
                                    {{validation.message}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-lg-2 p-md-2 p-sm-2 p-2">
                            <label> Location <span class="text-danger fs-5">*</span> </label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-12 col-12 p-lg-2 p-md-2 p-sm-2 p-2">
                            <input type="text" class="form-control" required name="departmenntLocation"
                                pattern="^[A-Za-z][A-Za-z0-9\s]*$"
                                [(ngModel)]="viewModel.department.departmenntLocation" minlength="5" maxlength="50"
                                placeholder="Enter Department Location" #departmenntLocation="ngModel">

                            <div *ngFor="let validation of viewModel.validations.departmenntLocation">
                                <div *ngIf="(departmenntLocation.touched || viewModel.formSubmitted) && departmenntLocation.hasError(validation.type)"
                                    class="text-danger  validationMsg">
                                    {{validation.message}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-lg-2 p-md-2 p-sm-2 p-2">
                            <label> Description </label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-12 col-12 p-lg-2 p-md-2 p-sm-2 p-2">
                            <input type="text" class="form-control"
                                [(ngModel)]="viewModel.department.departmentDescription"
                                name="departmentDescription" #departmentDescription="ngModel" minlength="5"
                                maxlength="50" placeholder="Enter Department Description"
                                pattern="^[A-Za-z][A-Za-z0-9\s]*$">
                            <div *ngFor="let validation of viewModel.validations.departmentDescription">
                                <div *ngIf="(departmentDescription.touched || viewModel.formSubmitted) && departmentDescription.hasError(validation.type)"
                                    class="text-danger  validationMsg">
                                    {{validation.message}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end" *ngIf=" !viewModel.editMode">
                        <button class="btn coinButton" (click)="addCompanyDepartment(departmentForm)"
                            *ngIf="viewModel.Permission?.add">Save </button>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end"
                        *ngIf="viewModel.editMode &&viewModel.Permission?.edit">
                        <button class="btn coinButton" (click)="updateCompanyDepartmentDetails(departmentForm)">
                            Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>